@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.전체 {
    background-color: #483838;
    width: 600px;
    margin-top: 200px;
    position: relative;
}

.전체 .첫째 {
    background-color: #42855b;
    width: 200px;
    height: 200px;
    /* 이동 시 position이 있어야 한다. */
    position: relative;
    /*  relative는 주위에 아무런 영향을 주지 않고 포지션 역할만 부여. */
    left: 300px;
}

.전체 .둘째 {
    background-color: #90b77d;
    width: 200px;
    height: 200px;
    position: absolute;

    left: 100px;
    top: 0;

}

.전체 .셋째 {
    background-color: #d2d79f;
    width: 200px;
    height: 200px;
}

.fixed {
    background-color: rgb(139, 139, 139); color: aqua;
    position: fixed;
    /* 화면기준 */
    top: 100px;
    right: 10px;
    padding: 20px;
}